*.class
*.iml
*.jar
.idea
/.lein-*
/.nrepl-port
/.eastwood
/checkouts
/.clj-kondo/.cache
/.clj-kondo/inline-configs
/classes
/lib
/myenv
/scripts/session-cookie.txt
/scripts/cas-tgt-url.txt
/resources/uberjar/buildversion.txt
/target
/stamps
/schemaDoc
/tags
/ehoks-virkailija.log
*.code-workspace
.DS_Store
