*.class
*.iml
*.jar
.idea
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib
/scripts/session-cookie.txt
/resources/uberjar/buildversion.txt
/target
/stamps
/schemaDoc
/tags
pom.xml
pom.xml.asc
*.code-workspace
