{:port 3000
 :frontend-url-fi "http://localhost:8080"
 :frontend-url-sv "http://localhost:8080"
 :frontend-url-path "ehoks"
 :eperusteet-peruste-url "https://eperusteet.testiopintopolku.fi"
 :tyopaikan-toimija-frontend-path "tyopaikan-toimija"
 :cas-username ""
 :cas-password ""
 :client-sub-system-code "example-code"
 :session-max-age 14400
 :service-timeout-ms 60000
 :ext-cache-lifetime-minutes 180
 :opintopolku-host "localhost:3000"
 :heratepalvelu-delete-tunnus-queue "services-heratepalvelu-amisDeleteTunnusQueue"
 :heratepalvelu-queue "services-heratepalvelu-eHOKSHerateQueue"
 :heratepalvelu-tyoelamapalaute-queue "services-heratepalvelu-tep-HerateQueue"
 :heratepalvelu-resend-queue "services-heratepalvelu-eHOKSAmisResendQueue"
 :heratepalvelu-amis-table "pallero-services-heratepalvelu-AMISHerateTable717F426F-1NY1YMTKJOF7Y"
 :heratepalvelu-jakso-table "pallero-services-heratepalvelu-tep-jaksotunnusTable87D50EF4-1KUH8IGOE8ZV3"
 :heratepalvelu-nippu-table "pallero-services-heratepalvelu-tep-nippuTableDE910D47-102WQ3OSVMOEI"
 :audit? true
 :db-type "postgresql"
 :db-name "ehoks"
 :db-port 5432
 :db-username "ehoks_user"
 :db-password "ehoks"
 :arvo-username "ehoks"
 :arvo-password ""
 :arvo-url "http://localhost:3000/api"
 :heratepalvelu-responsibities []
 :arvo-responsibilities []
 :koski-opiskeluoikeus-cache-ttl-millis 2000
 :koski-oppija-cache-ttl-millis 5000}
