{:port 3000
 :frontend-url "http://localhost:8080"
 :frontend-url-path "ehoks"
 :eperusteet-peruste-url "https://eperusteet.testiopintopolku.fi"
 :tyopaikan-toimija-frontend-path "tyopaikan-toimija"
 :database-url "jdbc:postgresql://localhost:5432/ehoks?user=ehoks_user&password=ehoks"
 :redis-url nil
 :cas-username ""
 :cas-password ""
 :client-sub-system-code "example-code"
 :session-max-age 14400
 :service-timeout-ms 60000
 :opintopolku-login-url "http://localhost:3000/auth-dev/opintopolku-login/"
 :opintopolku-logout-url "http://localhost:3000/auth-dev/opintopolku-logout/?return=http://localhost:8080/ehoks"
 :opintopolku-return-url "http://localhost:3000/ehoks-oppija-backend/api/v1/oppija/session/opintopolku/"
 :opintopolku-tt-auth-url "http://localhost:3000/auth-dev/opintopolku-tt-login/"
 :ext-cache-lifetime-minutes 180
 :save-hoks-json? false
 :opintopolku-host "localhost:3000"
 :audit true}
