{:port 3001
 :ext-cache-lifetime-minutes 30
 :db-type "postgresql"
 :db-server "localhost"
 :db-port 5433
 :db-name "ehoks_test"
 :db-username "ehoks_user"
 :db-password "ehoks"
 :opintopolku-host "localhost:3001"
 :audit? true
 :send-herate-messages? false
 :enforce-opiskeluoikeus-match? false
 :prevent-finished-opiskeluoikeus-updates? false
 :heratepalvelu-responsibities [:sync-amis-heratteet :sync-jakso-heratteet]
 :arvo-responsibilities [:create-kyselytunnus :create-jaksotunnus]
 :koski-opiskeluoikeus-cache-ttl-millis 1
 :koski-oppija-cache-ttl-millis 1}
