{:version "17.9.2018 testiympäristöjen käyttöön"
 :opintopolku-login-url "http://localhost:3000/auth-dev/opintopolku-login/"
 :opintopolku-return-url "http://localhost:3000/ehoks-backend/api/v1/session/opintopolku/"
 :eperusteet-url "https://eperusteet.opintopolku.fi/eperusteet-service/api"
 :oppijanumerorekisteri-url
 "https://virkailija.testiopintopolku.fi/oppijanumerorekisteri-service"
 :cas-service-ticket-url "https://virkailija.testiopintopolku.fi/cas/v1/tickets"
 :cas-username "ehoks"
 :cas-password "l2t3zj*oI@36j%"
 :client-sub-system-code "1.2.246.562.10.00000000001.ehoks"
 :debug true}
