{:port 3000
 :frontend-url "http://localhost:8080"
 :frontend-url-path "ehoks"
 :tyopaikan-toimija-frontend-path "tyopaikan-toimija"
 :database-url "jdbc:postgresql://localhost:5432/ehoks?user=ehoks_user&password=ehoks"
 :redis-url nil
 :cas-service-ticket-url "http://localhost:3000/cas-dev/tickets"
 :cas-username ""
 :cas-password ""
 :client-sub-system-code "example-code"
 :session-max-age 14400
 :service-timeout-ms 60000
 :opintopolku-login-url "http://localhost:3000/auth-dev/opintopolku-login/"
 :opintopolku-logout-url "http://localhost:3000/auth-dev/opintopolku-logout/?return=http://localhost:8080/ehoks"
 :opintopolku-return-url "http://localhost:3000/ehoks-backend/api/v1/session/opintopolku/"
 :opintopolku-tt-auth-url "http://localhost:3000/auth-dev/opintopolku-tt-login/"
 :eperusteet-url "http://localhost:3000/dev-routes/eperusteet/api"
 :eperusteet-peruste-url "https://eperusteet.testiopintopolku.fi"
 :oppijanumerorekisteri-url "http://localhost:3000/oppijanumerorekisteri-service"
 :koski-url "http://localhost:3000/koski"
 :koodisto-url "http://localhost:3000/koodisto-service"
 :ext-cache-lifetime-minutes 180
 :lokalisointi-url "https://virkailija.testiopintopolku.fi/lokalisointi/cxf/rest/v1/localisation"
 :kayttooikeus-service-url "https://virkailija.testiopintopolku.fi/kayttooikeus-service"
 :backend-url "http://localhost:3000/ehoks-backend"}
