{:port 3000
 :frontend-url "http://localhost:8080"
 :frontend-url-path "ehoks"
 :database-url ""
 :redis-url nil
 :cas-service-ticket-url "http://localhost:3000/cas-dev/tickets"
 :cas-username ""
 :cas-password ""
 :client-sub-system-code "example-code"
 :session-max-age 14400
 :service-timeout-ms 60000
 :opintopolku-login-url "http://localhost:3000/auth-dev/opintopolku-login/"
 :opintopolku-logout-url "http://localhost:3000/auth-dev/opintopolku-logout/?return=http://localhost:8080/ehoks"
 :opintopolku-return-url "http://localhost:3000/ehoks-backend/api/v1/session/opintopolku/"
 :eperusteet-url "http://localhost:3000/dev-routes/eperusteet/api"
 :eperusteet-peruste-url "https://eperusteet.testiopintopolku.fi"
 :oppijanumerorekisteri-url "http://localhost:3000/oppijanumerorekisteri-service"
 :koski-url "http://localhost:3000/koski"
 :koodisto-url "http://localhost:3000/koodisto-service"
 :log-level :info
 :ext-cache-lifetime-minutes 180
 :lokalisointi-url "https://virkailija.testiopintopolku.fi/lokalisointi/cxf/rest/v1/localisation"}
